{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/menu.css" %}">
    <link rel="stylesheet" href="{% static "css/medicine.css" %}">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul class="topmenu">
            <li><a href="{% url "index" %}">Главная</a></li>
            <li><a href="{% url "about" %}">О компании</a></li>
            <li><a href="{% url "news" %}">Новости</a></li>
            <li><a href="" class="active">Товары<span class="fa fa-angle-down"></span></a>
              <ul class="submenu">
                {% for department in departments %}
                    <li><a>{{ department.department.name }}<span class="fa fa-angle-down"></span></a>
                        <ul class="submenu">
                            {% for category in department.categories %}
                                <li><a href="/medicines/{{ department.department.id }}/{{ category.id }}/">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
    </nav>
    {% block content %}
    {% endblock  %}
</body>
</html>