{% extends "base.html" %}
{% load static %}


{% block  css%}
 <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}


{% block content %}
<div class = "mt-5 pt-5">
<h3 class = "m-2" class="mt-5 pt-5"><strong>{{ content }}</strong></h3>
<p class = "m-2">{{ text_on_page }}</p></div>
<h7>Факт о котах: {{cat_fact}}</h7>
 <h6></h6>
<h7>{{setup}} {{punchline}}</h7>
<h7>Количество пользователей {{users_count}}</h7><h6></h6>
<h7>Общий доход {{general_income}}</h7><h6></h6>
<h7>Самая популярная услуга {{most_popular_product}}</h7><h6></h6>
<img src="{% static "images/graph.png" %}" alt="Error">
{% endblock %}


{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Hratefull_for_gelp Studio 2024</p>
    </div>
</footer>
{% endblock %}

