{% extends "base.html" %}
{% load static %}

{% block css %}
   <link rel="stylesheet" href="{% static "deps/css/staff.css" %}">
{% endblock  %}

{% block content %}
    <h1>Купоны</h1>
    {% for coupon in valid_coupons %}
        <div class="person">
            <div class="info">
                <h4>Название: {{ coupon.title }}</h4>
                <p>Код: {{ coupon.code }}</p>
                <p>Действителен до: {{ coupon.date|date:"d/m/Y" }}</p>
                <p>Описание: {{ coupon.some_info }}</p>
                <p>Скидка: {{ coupon.discount }}%</p>
            </div>
        </div>
    {% endfor %}
    <h1>Истекшие купоны</h1>
    {% for coupon in expired_coupons %}
        <div class="person">
            <div class="info">
                <h4>Название: {{ coupon.title }}</h4>
                <p>Код: {{ coupon.code }}</p>
                <p>Действителен до: {{ coupon.date|date:"d/m/Y" }}</p>
                <p>Описание: {{ coupon.some_info }}</p>
                <p>Скидка: {{ coupon.discount }}%</p>
            </div>
        </div>
    {% endfor %}
{% endblock  %}