{% extends "base.html" %}
{% load static %}

{% block css %}
   <link rel="stylesheet" href="{% static "deps/css/staff.css" %}">
{% endblock  %}

{% block content %}
    
    <h1>Персонал</h1>
    {% for person in staff %}
        <div class="person">
            {% if person.image %}
                <div>
                    <img src="{{ person.image.url }}" alt="photo_error">
                </div>
            {% else %}
                <div id="circle-img">
                    <img src="{% static "deps/images/staff-base-avatar.jpg" %}" alt="photo_error">
                </div>
            {% endif %}
            <div class="info">
                <p>ФИО: {{ person.last_name }} {{ person.first_name }}</p>
                <p>Должность: {{ person.position }}</p>
                <p>Работает с: {{ person.date_joined|date:"d/m/Y" }}</p>
                <p>Почта: {{ person.email }}</p>
                <p>Номер телефона: {{ person.phone }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock  %}