
.container1 {
    max-width: 800px; /* Ограничение ширины контейнера */
    background-color: #ffffff; /* Установка белого фона */
    margin: 20px;
    border-radius: 20px;

}

.bg-white {
    padding: 2rem; /* Увеличение отступа для всего блока */
    border-radius: 10px; /* Скругление углов */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Тень для блока */
}

.text-center {
    margin-bottom: 1.5rem; /* Увеличение отступа снизу для центрированных элементов */
}

.img-fluid {
    margin-bottom: 1rem; /* Отступ снизу для аватара */
}

.form-control {
    border-radius: 5px; /* Скругление углов полей ввода */
    width: 100%; /* Поля ввода занимают всю ширину */
}

.mb-3 {
    margin-bottom: 1.5rem; /* Отступ снизу для полей ввода */
}

.btn {
    width: 100%; /* Кнопка на всю ширину */
    padding: 0.5rem; /* Увеличение внутреннего отступа */
}

.alert-danger {
    margin-top: 1rem; /* Отступ сверху для сообщений об ошибках */
}
