{% extends "base.html" %}
{% load static %}

{% block links %}
    {% comment %} <link rel="stylesheet" href="{% static "css/menu.css" %}">
    <link rel="stylesheet" href="{% static "css/new.css" %}">
    <link rel="stylesheet" href="{% static "css/weather.css" %}"> {% endcomment %}
{% endblock  %}

{% block content %}
    <article>
        {% for item in items %}
            <p>{{ item.product.name }} - {{ item.quantity }}</p>
            <button><a href="{% url "cart:edit_cart" item.id 1 %}">+</a></button>
            <button><a href="{% url "cart:edit_cart" item.id 2 %}">-</a></button>
            <button><a href="{% url "cart:delete_from_cart" item.id %}">Удалить</a></button>
        {% endfor %}
    </article>
    <button><a href="{% url "cart:cart_payment" %}">К оплате</a></button>
{% endblock  %}