{% extends "main/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        {% for med in meds %}
            <figure class="shop-item">
                {% if med.image %}
                <div>
                    <img src="{{ med.image.url }}" alt="photo_error" width="250px">
                </div>
                {% endif %}
                <div class="shop-item-hover"></div>
                <div>
                    <p class="name">{{ med.name }}</p>
                    {% if med.discount %}
                        <p><s>{{ med.price }}</s> BYN</p>
                        <p>{{ med.sell_price }} BYN</p>
                        <span>Скидка {{ med.discount }} %</span>
                    {% else %}
                        <p>{{ med.price }} BYN</p>
                    {% endif %}
                </div>
            </figure>
        {% endfor %}
    </div>
{% endblock %}  