{% extends "main/base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static "css/menu.css" %}">
    <link rel="stylesheet" href="{% static "css/medicine.css" %}">
{% endblock  %}

{% block content %}
    <div class="container">
        {% for med in meds %}
            <figure class="shop-item">
                <div class="container2">
                    <div>
                        {% if med.med.image %}
                        <div>
                            <img src="{{ med.med.image.url }}" alt="photo_error" width="250px">
                            {% if med.discount %}
                                <span id="discount">Скидка {{ med.med.discount }}%</span>
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="shop-item-hover"></div>
                        <div>
                            <p>{{ med.med.name }}</p>
                            {% if med.med.discount %}
                                <p>Цена: <s>{{ med.med.price }}</s> BYN / {{ med.med.sell_price }} BYN</p>
                            {% else %}
                                <p>Цена: {{ med.med.price }} BYN</p>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <button>
                            <a class="button" href="/medicines/{{ med.dep_id }}/{{ med.cat_id }}/{{ med.med.id }}/">Подробнее</a>
                        </button>
                    </div>
                </div>
            </figure>
        {% endfor %}
    </div>
{% endblock %}