{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/vacancy.css" %}">
{% endblock  %}

{% block content %}
<section>
    <h1>Часто задаваемые вопросы</h1>
    {% for question in questions %}
        <div class="vacancy">
            <details>
                <summary>{{ question.question }} <span class="date">Добавлено: {{ question.date|date:"d.m.Y" }}</span></summary>
                <p>{{ question.answer }}</p>
            </details>
        </div>
    {% endfor %}
    </section>
{% endblock  %}