{% extends "main/base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static "css/menu.css" %}">
{% endblock  %}

{% block content %}
    <p>Задачи компании:</p>
    <p>Своевременное удовлетворение потребности населения и учреждений здравоохранения в лекарственных средствах и других товарах аптечного ассортимента.</p>
    <p>Осуществление поддержки отечественных производителей.</p>
    <p>Методологическое руководство предприятиями «Фармация», координация и контроль фармацевтической, медицинской, финансово-хозяйственной деятельности и в др. областях.</p>
    <p>Изготовление лекарственных средств по индивидуальным рецептам врачей и заявкам организаций здравоохранения.</p>
    <p>Организация конкурсов и выполнение централизованных закупок лекарственных средств.</p>
    <p>Организация производственной практики для студентов учреждений образования фармацевтического профиля и интернатуры их выпускников на безвозмездной основе.</p>
    <p>Создание единого информационного пространства со всеми организациями, участвующими в оказании лекарственной помощи гражданам республики.</p>
    <p>Предоставление населению и учреждениям здравоохранения на безвозмездной основе информации о лекарственных средствах и их наличии в аптеках всех форм собственности.</p>
    <p>Поддержание устойчивого финансового состояния и эффективного хозяйствования предприятия.</p>
{% endblock  %}